<p>course-form works!</p>
<form #f="ngForm" (ngSubmit)="submit(f)">

    <div class="form-group">
        <label for="courseName">Course Name</label>
        <input required ngModel #courseName="ngModel" minlength="5" type="text" name="courseName" id="courseName"
            class="form-control">
        <div>

        </div>

        <label for="category">Category</label>
        <select required ngModel name="courseCategory" id="courseCategory" class="form-control">
            <option value=""></option>
            <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
        </select>

        <div class="checkbox">
            <label>
                <input type="checkbox" ngModel name="moneyBackGuarantee"> 30 day money back guarantee
            </label>
        </div>
    </div>
    <p>
        {{f.value | json}}
    </p>
    <button class="btn btn-primary" [disabled]="!f.valid">Create Course</button>
</form>