<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <div *ngIf="contact.valid"></div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input required minlength="3" maxlength="20" pattern="banana" ngModel name="firstName" #firstName="ngModel"
                (change)="log(firstName)" id="firstName" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">First name is required</div>
                <div *ngIf="firstName.errors.minlength">First name should be atleast
                    {{firstName.errors.minlength.requiredLength}} characters</div>
                <div *ngIf="firstName.errors.pattern">First name must have pattern banana</div>
            </div>
            <label>Last Name</label>
            <input ngModel name="lastName" id="lastName" type="text" class="form-control" #lastName="ngModel"/>
        </div>
    </div>

    <div class="form-group">
        <label for="comment">Comment </label>
        <textarea required ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="10"
            class="form-control"></textarea>
        <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid">Comment cannot be empty</div>
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid" >submit</button>
</form>