<div (click)="onDivClick()">

    <p>course works!</p>

    <!-- <input [value]=input1 (keyup.enter)="input1 = $event.target.value; onKeyUp();" /> -->
    <input [(ngModel)]="input1" (keyup.enter)="onKeyUp()" />

    <button class="btn btn-primary" [class.active]="isActive" [style.backgroundColor]="isActive?'blue':'white'"
        (click)="onSave($event)">Save</button>


</div>

<div>
    {{course.title | uppercase | lowercase}}<br />
    {{course.students | number }}<br />
    {{course.rating | number:'1.2-2' }}<br />
    {{course.price | currency:'CNY':true:'3.2-2' }}<br />
    {{course.releaseDate | date:'short'}}

    <p>{{text | summary:10}}</p>
</div>