<h1>Angular</h1>
<!-- <courses></courses>
<app-course></app-course> -->

<!-- <app-favorites [is-fav] = "post.isFavorite" (change) =onFavoriteChanged($event) ></app-favorites>
<button class="btn btn-primary">asdf</button>

<app-input-title></app-input-title>

<app-testground></app-testground>

<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body-content">
        <h3>body</h3>
        <p>asdfkajdslfkjlskdjfslkajfdkl</p>
    </div>

</bootstrap-panel> -->

<!-- <app-like-button
    [likesCount] = "tweet.likesCount"
    [isLiked] = "tweet.isLiked"
></app-like-button> -->

<div *ngIf="haveCourses(); else noCourses">
    list of courses
</div>
<ng-template #noCourses >
    no courses yet
</ng-template>


