<form [formGroup]="form">
    <div class="formGroup"> 
        <label for="oldPassword">Old Password</label>
        <input name="oldPassword" id="oldPassword" type="text" formControlName="oldPassword" class="form-control">
    </div>
    <div class="formGroup">
        <label>New Password</label>
        <input name="newPassword" id="newPassword" type="text" formControlName="newPassword" class="form-control">
    </div>
    <div class="formGroup">
        <label>Confirm Password</label>
        <input name="confirmPassword" id="confirmPassword" type="text" formControlName="confirmPassword" class="form-control">
    </div>
</form>